.button-container
{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Arial, sans-serif;
  text-align: start;
}

button
{
  display: inline-block;
  width: 300px;
  padding: 10px 20px;
  border: 2px solid #333232;
  border-radius: 5px;
  background-color: #232323;
  color: white;
  text-decoration: none;
  text-align: start;
  font-size: 16px;
  cursor: pointer;
}

button:hover
{
  background-color: #333232;
  color: #3498db;
}