.underline-on-hover
{
  list-style: none;
  padding: 0;
}

.underline-on-hover div
{
  position: relative;
}

.underline-on-hover div::after
{
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 20%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  transform: scale(0.2);
  transition: transform 0.2s ease;
}

.underline-on-hover div:hover::after
{
  transform: scale(1);
}

.underline-on-hover-y div
{
  content: "";
  left: 0;
  padding: 0;
  bottom: 0;
  width: 20%;
  border-bottom: 1px solid transparent;
}

.underline-on-hover-y div:hover
{
  border-bottom: 1px solid black;
}