/* Allgemeine Stile für das Input-Feld */
input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 300px;
  font-size: 16px;
  background-color: #3a3a3a;
}

/* Stile für den Fokus-Zustand des Input-Felds */
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Stile für das Input-Feld in einem deaktivierten Zustand */
input:disabled {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}

/* Stile für einen Platzhaltertext im Input-Feld */
input::placeholder {
  color: #888;
}

/* Stile für Fehlerzustand des Input-Felds */
input.error {
  border-color: #dc3545;
}

/* Stile für den Fokus-Zustand des Input-Felds im Fehlerfall */
input.error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}
