*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body
{
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

header
{
  background-color: #0666c3;
  padding: 10px;
}

.dark
{
  background-color: #222222;
}

.light
{
  background-color: #dddddd;
}

nav ul
{
  list-style: none;
  text-align: center;
}

nav ul li
{
  display: inline;
  margin: 0 10px;
}

nav ul li a
{
  text-decoration: none;
}

main
{
  padding: 20px;
}

.container
{
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 20px;
}

footer
{
  text-align: center;
  padding: 10px 0;
  background-color: #0666c3;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer
{
  color: aliceblue;
}

.image
{
  text-align: left;
  direction: ltr;
}
